@import "../../styles/utils/variables";
@import "../../styles/vendors/mq";

.container {
    max-width: 600px;

    @include mq(desktop) {
        max-width: 800px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 $spacing-vh-m;

    @include mq(desktop) {
        margin: 0 0 $spacing-vh-l;
    }
}

.image {
    width: inherit;
    max-height: 100vh;
    filter: drop-shadow($color-black 0px 2px 0px) drop-shadow($color-black 0px -2px 0px) drop-shadow($color-black 2px 0px 0px) drop-shadow($color-black -2px 0px 0px);
}

.caption {
    margin-top: $spacing-xs;
}
