@import "../../styles/utils/variables";

.container {
    background-color: $color-black;
    border-left: $border;
    border-right: $border;

    p {
        text-align: center;
        margin: 0 auto;
        padding: $spacing-xs $spacing-m;
    }
}